* {
  font-family: Lobster,Poiret One,palatino;
}

.head {
  max-width: 100%;
}

h1 {
  text-align: center;
  /*font-family: Lobster,Poiret One,palatino;*/
  color: crimson;
;}

h2 {
  text-align: center;
  color: black;
}
h3 {
  text-align: center;
  /* font-family: Lobster,Poiret One,palatino; */
  color: red;
;}

#my_dataviz {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}


#selectButton {
  position: relative;
  left:25%;
  right:50%;
}

#selectMeasure {
  position: relative;
  left: 40%;
  right: 50%;
}

.case_death_text {
  text-align: center;
}

 div.tooltip {
    position: relative;
    text-align: center;
    width: 150px;
    padding: 10px;
    font: 11px palatino;
    color: black;
    background: lightsteelblue;
    pointer-events: none;
    opacity: 0.05;
    left:45%;
    right:40%;
}


.enter_button {
  position: relative;
  left:50%;
  right:50%;
  font-size:25px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
